.bg-cover{
    background-position: center center;
    background-size: cover;
}
.shoppingcar-table td{
    white-space: nowrap;
}
#badge-amount{
    position: absolute;
    right: -15px;
    top: -5px;
}
#banner{
    padding: 10rem 0 5rem 0;
    background-image: url("https://images.unsplash.com/photo-1477901492169-d59e6428fc90?w=1350");
}
#banner-slogan{
    background-color: rgb(248,249,250,0.6);
}
#banner-slogan h2{
    font-size: 4.5rem;
}
#banner-slogan p{
    font-size: 1.25rem;
    color: rgb(139, 131, 131);
}
#banner-slogan p:hover{
    color: rgb(0,0,0);
}
.btn.disabled{
    pointer-events: none;
}
.alert-rounded{
    border-radius: 50px;
}
table td{
    vertical-align: middle!important;
}
